li {
    list-style: none;
    padding: .5rem;
    background-color: aliceblue;
    border: 1px solid gray;
    color: gray;
    align-items: baseline;
    justify-items: flex-start;
    display: flex;
}
